<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <h1>Bonjour Monsieur {{ name }}</h1>
        <p> Vous trouverez des restaurant ici </p>
        <a href="{{ path('guide_michelin_menu') }}">Menu Guide</a>
    </body>
</html>