<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue dans le Menu de Guide Michelin</title>
    </head>
    <body>
        <h1>Bienvenue dans le Menu de Guide Michelin</h1>
        <a href="{{ path('guide_michelin_accueil') }}">Retour</a>
    </body>
</html>